{% extends "base.html" %}
{% load static %}
{% load products_tags %} 

{% block content %}

<main>
    <section class="offer">
        <div class="container">
            <div class="offer__inner">
                <h2 class="offer__title">Оптовые поставки корейской косметики в любую точку России</h2>
                <p class="offer__text">Гарантируем бесперебойные поставки при любой международной обстановке</p>
                <div class="offer__btns">
                    {% if not request.user.is_authenticated %}
                        <button type="button" class="offer__btn-application" data-toggle="modal" data-target="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Оставить заявку</button>
                        <button class="offer__btn-сatalog" data-bs-toggle="modal" data-bs-target="#exampleModal2">Получить каталог</button>
                    {% endif %}
                </div>
                <div class="offer__info">
                    <div class="offer__info-column">
                        <div class="offer__info-column-heading">До 2-х недель</div>
                        <div class="offer__info-label">средний срок доставки</div>
                    </div>
                    <div class="offer__info-column">
                        <div class="offer__info-column-heading">15 000 ₽</div>
                        <div class="offer__info-label">минимальная <br> сумма заказа</div>
                    </div>
                    <div class="offer__info-column">
                        <div class="offer__info-column-heading">+ 75 брендов</div>
                        <div class="offer__info-label">от эконом до <br> премиального</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content modal__offer-content">
            <div class="offer__form">
                <button type="button" class="btn-close offer__modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                <form action="" class="contactForm">
                    <div class="contacts__form-box">
                        <h2 class="contacts__form-title">Имя</h2>
                        {{ contact_form.name }}
                    </div>
                    <div class="contacts__form-items">
                        <div class="contacts__form-box">
                            <h2 class="contacts__form-title">Телефон</h2>
                            {{ contact_form.phone }}
                        </div>
                        <div class="contacts__form-box">
                            <h2 class="contacts__form-title">Email</h2>
                            {{ contact_form.email }}
                        </div>
                    </div>
                    <div class="contacts__form-box box__marin-top">
                        <h2 class="contacts__form-title">Сообщение</h2>
                        <textarea placeholder="Введите текст сообщения" maxlength="150" class="contacts__form-input contacts__form-textarea"></textarea>
                    </div>
                    <div class="contacts__form-suptext">Нажимая на кнопку “Отправить заявку”, Вы даете согласие на <a class="contacts__form-suptext--link" href="">обработку персональных данных</a> и соглашаетесь с <a class="contacts__form-suptext--link" href="">политикой конфиденциальности.</a></div>
                    <button class="contacts__form-btn section__btn">Оставить заявку</button>
                </form>
            </div>
          </div>
        </div>
      </div>

    <section class="company">
        <div class="swiper mySwiper-1">
            <div class="swiper-wrapper home__logos">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img.png' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img2.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img3.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img4.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img5.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <!-- <img class="swiper-slide swiper-slide--img" src="{% static '/slider img7.svg' %}" alt="" srcset=""> -->
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img3.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img5.svg' %}" alt="" srcset="">  
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img2.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img3.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img4.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img2.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img3.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img4.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img5.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <!-- <img class="swiper-slide swiper-slide--img" src="{% static '/slider img7.svg' %}" alt="" srcset=""> -->
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img3.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img5.svg' %}" alt="" srcset="">  
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img6.svg' %}" alt="" srcset="">
                <img class="swiper-slide swiper-slide--img" src="{% static 'img/slider img5.svg' %}" alt="" srcset="">  
               
            </div>
          </div>
    </section>

    <section class="catalog">
        <div class="container">
            <div class="catalog__inner">
                <h2 class="catalog__title home__subheading">Каталог</h2>
                <div>
                    <div class="catolog__items">
                        <div class="catalog__item catalog__item--1">
                            <h2 class="catalog__item-title">Для ухода <br> за волосам</h2>
                            <a href="{% url 'products:products_list' %}"><button class="catalog__item-btn">328 товаров</button></a>
                        </div>
                        <div class="catalog__item catalog__item--2">
                            <h2 class="catalog__item-title">Для ухода <br> за кожей</h2>
                            <a href="{% url 'products:products_list' %}"><button class="catalog__item-btn">328 товаров</button></a>
                        </div>
                        <div class="catalog__item catalog__item--3">
                            <h2 class="catalog__item-title">Макияж</h2>
                            <a href="{% url 'products:products_list' %}"><button class="catalog__item-btn">328 товаров</button></a>
                        </div>
                        <div class="catalog__item catalog__item--4">
                            <h2 class="catalog__item-title">Для детей</h2>
                            <a href="{% url 'products:products_list' %}"><button class="catalog__item-btn">328 товаров</button></a>
                        </div>
                        <img class="catolog__items-img" src="{% static 'img/BigStar.svg' %}" alt="" srcset="">
                    </div>
                    <div>
                        <button class="catalog__btn section__btn"><a style="color: white;" href="{% url 'products:products_list' %}">Смотреть всё</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hits">
        <div class="container">
            <div class="hits__inner">
                <div class="hist__title">
                    <h2 class="home__subheading">Хиты продаж</h2>
                </div>
                <div class="swiper mySwiper-2">
                    <div class="swiper-wrapper">
                        {% for product in popular_products %}
                            <div class="swiper-slide catalog__card {% if not request.user.is_authenticated %}not-registered{% endif %}">
                                <a href="{{ product.get_absolute_url }}" class="catalog__card-image">
                                    <img src="{{ product.photo.url }}" alt="cart" class="catalog__cart-image">
                                </a>
                                <div class="catalog__card-bottom">
                                    <div class="catalog__card-name">
                                        <a href="{{ product.get_absolute_url }}" class="hover-green">{{ product.title }}</a>
                                    </div>
                                    {% if request.user.is_authenticated %}                                    
                                        <div class="catalog__card-price-block">
                                            <div class="catalog__card-price">
                                                <p>{{ product.price_before_200k|floatformat:2|price_format }} ₽</p>
                                            </div>
                                            {% if product.quantity_in_cart != 0 %}
                                                <div class="catalog__card-cart-controls">
                                                    <button id="{{ product.barcode }}" class="catalog__card-cart-control-minus">
                                                        <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                                    </button>
                                                    <input type="number" id="quantity-input-{{ product.barcode }}" class="catalog__card-quantity-input" value="{{ product.quantity_in_cart }}">
                                                    <button id="{{ product.barcode }}" class="catalog__card-cart-control-plus">
                                                        <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                                    </button>
                                                </div>
                                            {% else %}
                                                {% if product.is_in_stock %}
                                                    <div id="{{ product.barcode }}" class="catalog__card-cart-button add-to-cart">
                                                        В корзину
                                                    </div>
                                                {% else %} 
                                                    {% if product.will_arrive_at %}
                                                        <div class="catalog__card-not-in-stock">
                                                            В пути до {{ product.will_arrive_at|date:"d.m.y"  }}
                                                        </div>
                                                    {% else %}
                                                        <div class="catalog__card-not-in-stock">
                                                            Нет в наличии
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>     
                    
                </div>
                <div class="swiper-pagination"></div>   
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <button class="hits__btn section__btn"><a style="color: white;" href="{% url 'products:products_list' %}">Смотреть всё</a></button>
    </section>

    <section class="clients">
        <div class="container">
            <div class="clients-inner">
                <div class="">
                    <h2 class="home__subheading">Работаем с разными категориями клиентов</h2>
                </div>
                <div class="clients__tiles">
                    <div class="clients__tile">
                        <img src="{% static 'img/clients-network-shops.png' %}" alt="">
                        <p>Сетевые магазины</p>
                    </div>
                    <div class="clients__tile">
                        <img src="{% static 'img/clients-retail-shops.png' %}" alt="">
                        <p>Розничные магазины</p>
                    </div>
                    <div class="clients__tile">
                        <img src="{% static 'img/clients-marketplaces.png' %}" alt="">
                        <p>Маркетплейсы</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantage">
        <div class="container">
            <div class="advantage__inner">     
                <h2 class="advantage-title home__subheading">Наши преимущества</h2>
                <div class="row row-cols-1  row-cols-md-2 row-cols-xxl-4 advantage__items">
                    <div class="advantage__item advantage__item--1">
                        <p class="advantage__item__small-label">Наименований товара</p>
                        <p class="advantage__item__big-label">6 000+</p>
                        <div class="advantage__icon">
                            <img src="{% static 'img/white-leaf.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="advantage__item advantage__item--2">
                        <p class="advantage__item__small-label">Азиатских брендов</p>
                        <p class="advantage__item__big-label">3 000+</p>
                        <div class="advantage__icon">
                            <img src="{% static 'img/white-star.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="advantage__item advantage__item--3">
                        <p class="advantage__item__small-label">10 лет на рынке</p>
                        <p class="advantage__item__big-label">10</p>
                        <div class="advantage__icon">
                            <img src="{% static 'img/white-leaf.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="advantage__item advantage__item--4">
                        <p class="advantage__item__small-label">Складов по РФ</p>
                        <p class="advantage__item__big-label">200+</p>
                        <div class="advantage__icon">
                            <img src="{% static 'img/white-star.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if not request.user.is_authenticated %}
        <section id="contactsBlock" class="contacts">
            <div class="container">
                <div class="contacts__inner">
                    <div class="contacts__info">
                        <div class="contacts__info-upper">
                            <h2 class="contacts__info-title">Оставьте заявку</h2>
                            <p class="contacts__info-text">Остались вопросы или интересует каталог с оптовыми ценами? <br> Заполните форму и отправьте свою заявку, наш менеджер свяжется с Вами для уточнения деталей.</p>
                        </div>
                        <div class="contacts__info-medium">
                            <div class="contacts__info-box">
                                <img src="{% static 'img/green-checkmark.svg' %}" alt="" class="contacts__info-img">
                                <p class="contacts__info-box--text">Персональный менеджер</p>
                            </div>
                            <div class="contacts__info-box">
                                <img src="{% static 'img/green-checkmark.svg' %}" alt="" class="contacts__info-img">
                                <p class="contacts__info-box--text">Своевременная поддержка</p>
                            </div>
                            <div class="contacts__info-box">
                                <img src="{% static 'img/green-checkmark.svg' %}" alt="" class="contacts__info-img">
                                <p class="contacts__info-box--text">На всю продукцию имеются сертификаты и декларации соответствия</p>
                            </div>
                        </div>
                        <div class="contacts__info-lower">
                            <p class="contacts__info-suptext-loc">г.Владивосток, ул. Днепровская, д.25д, стр.4а</p>
                            <a class="contacts__info-suptext" href="tel:+79644541700">+7 (964) 454-17-00</a>
                        </div>
                    </div>
                    <div class="contacts__form">
                        <form id="contactForm" class="form home__contact-form" action="">

                            <div class="home__contact-form-item">
                                <h2 class="contacts__form-title">Имя</h2>
                                {{ contact_form.name }}
                            </div>  
                            <div class="home__contact-form-item">
                                <h2 class="contacts__form-title">Телефон</h2>
                                {{ contact_form.name }}
                            </div>

                            <div class="home__contact-form-item">
                                <h2 class="contacts__form-title">Сообщение</h2>
                                {{ contact_form.message }}
                            </div>

                            <div class="home__contact-form-item buttons">
                                <div>
                                    <h2 class="contacts__form-title">Почта</h2>
                                    {{ contact_form.name }}
                                </div>
                                <button class="leave-request-button" id="liveToastBtn">
                                    Оставить заявку
                                </button>
                                <div class="user-agreement">
                                    Нажимая на кнопку, вы соглашаетесь на <a class="color-green" href="">обработку персональных данных</a> и <a class="color-green" href="">политикой конфиденциальности</a>.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <div class="me-2 toast-img"></div>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Ваши данные успешно отправлены
        </div>
      </div>

    <section id="answersBlock" class="answer">
        <div class="container px-4">
            <div class="answer__inner">
                <div class="answer__title">
                    <h2 class="home__subheading">Ответы на вопросы</h2>
                </div>
                <div class="row answer__items-box">
                    <div class="col-auto answer__items-answer">
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Какая минимальная сумма заказа?
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                                    Где вы находитесь?
                                </button>
                              </h2>
                              <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseOne">
                                    На какие бренды предоставляете документы для маркетплейсов?
                                </button>
                              </h2>
                              <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseOne">
                                    Имеются ли документы, подтверждающие оригинальность товара?
                                </button>
                              </h2>
                              <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseOne">
                                    С какими транспортными компаниями работаете?
                                </button>
                              </h2>
                              <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseOne">
                                    Имеется ли система скидок за объемы?
                                </button>
                              </h2>
                              <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="accordion answer__item-answer" id="accordionExample1">
                            <div class="accordion-item  answer__accordion-item">
                              <h2 class="accordion-header answer__accordion-header">
                                <button class="accordion-button answer__accordion-item--btn collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseOne">
                                    Доставка по РФ платная или бесплатная?
                                </button>
                              </h2>
                              <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    15 000 рублей
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col work-stages">
                        <div class="work-stages__label">
                            4 простых шага к бесперебойным поставкам косметики в ваш бизнес
                        </div>
                        <div class="work-stages__items">
                            <div class="work-stage work-stage--1">
                                <p>Запрос прайса</p>
                                <p>01</p>
                            </div>
                            <div class="work-stage work-stage--2">
                                <p>Оформление заказа</p>
                                <p>02</p>
                            </div>
                            <div class="work-stage work-stage--3">
                                <p>Оплата</p>
                                <p>03</p>
                            </div>
                            <div class="work-stage work-stage--4">
                                <p>Получить заказ</p>
                                <p>04</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if not request.user.is_authenticated %}
    <section class="help">
        <div class="container container__help">
            <div class="help__inner">
                    <div class="col-auto help__left">
                        <img class="help__left-img" src="{% static 'img/quiz-photo.png' %}" alt="" srcset="">
                    </div>
                    <form class="col help__right">
                        <h2 class="help__title">Помощь с выбором</h2>
                        <p class="help__text">Ответьте на несколько вопросов и мы подберем для вас косметику в 3-х ценовых диапазонах от бюджетного до премиального</p>
                        <div class="help__progress progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="help__progress-bar progress-bar bg-success" style="width: 0%"></div>
                        </div>
                        <div class="help__form">
                            <div class="help__form-box help__form-box--1">
                                <h2 class="help__form-title">Где Вы реализуете продукцию?</h2>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                            <input type="radio" id="realization-1" value="1" name="realization" class="help__form-radio item--hidden">
                                            <label for="realization-1" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="realization-1"><p class="help__form-text">Онлайн магазин</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="realization-2" value="2" name="realization" class="help__form-radio item--hidden">
                                        <label for="realization-2" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="realization-2"><p class="help__form-text">Офлайн магазин</p> </label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="realization-3" value="3" name="realization" class="help__form-radio item--hidden">
                                        <label for="realization-3" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="realization-3"><p class="help__form-text">Маркетплейсы</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="realization-4" value="4" name="realization" class="help__form-radio item--hidden">
                                        <label for="realization-4" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="realization-4"><p class="help__form-text">Совместные закупки</p></label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="help__form-box help__form-box--2 item--hidden">
                                <h2 class="help__form-title">Предполагаемый сегмент рынка?</h2>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="segment-1" value="1" name="segment" class="help__form-radio item--hidden">
                                        <label for="segment-1" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="segment-1"><p class="help__form-text">Низкий ценовой сегмент</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="segment-2" value="2" name="segment" class="help__form-radio item--hidden">
                                        <label for="segment-2" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="segment-2"><p class="help__form-text">Средний сегмент</p></label> 
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="segment-3" value="3" name="segment" class="help__form-radio item--hidden">
                                        <label for="segment-3" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="segment-3"><p class="help__form-text">Премиальный сегмент</p></label>
                                    </div>
                                </div>
                            </div>
                            <div class="help__form-box help__form-box--3 item--hidden">
                                <h2 class="help__form-title">Что в первую очередь Вас интересует в сотрудничестве?</h2>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="intresting-1" value="1" name="intresting" class="help__form-radio item--hidden">
                                        <label for="intresting-1" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="intresting-1"><p class="help__form-text">Новые бренды</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="intresting-2" value="2" name="intresting" class="help__form-radio item--hidden">
                                        <label for="intresting-2" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="intresting-2"><p class="help__form-text">Низкие цены</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="intresting-3" value="3" name="intresting" class="help__form-radio item--hidden">
                                        <label for="intresting-3" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="intresting-3"><p class="help__form-text">Качественный сервис</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="checkbox" id="intresting-4" value="4" name="intresting" class="help__form-radio item--hidden">
                                        <label for="intresting-4" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="intresting-4"><p class="help__form-text">Наличие полного пакета документов</p></label>
                                    </div>
                                </div>
                            </div>
                            <div class="help__form-box help__form-box--4 item--hidden">
                                <h2 class="help__form-title">Когда Вы готовы начать сотрудничество?</h2>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="time-1" value="1" name="time" class="help__form-radio item--hidden">
                                        <label for="time-1" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="time-1"><p class="help__form-text">Сразу после получения прайса</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="time-2" value="2" name="time" class="help__form-radio item--hidden">
                                        <label for="time-2" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="time-2"><p class="help__form-text">В ближайшее время</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="time-3" value="3" name="time" class="help__form-radio item--hidden">
                                        <label for="time-3" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="time-3"><p class="help__form-text">После сравнения цен с другими поставщиками</p></label>
                                    </div>
                                </div>
                                <div class="row help__form-item">
                                    <div class="col-auto">
                                        <input type="radio" id="time-4" value="4" name="time" class="help__form-radio item--hidden">
                                        <label for="time-4" class="help__form-checkbox--custom"></label>
                                    </div>
                                    <div class="col-auto">
                                        <label for="time-4"><p class="help__form-text">Не скоро</p></label>
                                    </div>
                                </div>
                            </div>
                            <div class="help__form-box help__form-box--5 item--hidden">
                                <div class="row">
                                    <div class="col help__form-box-item-1">
                                        <h2 class="help__form-title">Имя</h2>
                                        <input placeholder="Введите имя" maxlength="35" class="help__form-input" type="text" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col help__form-box-item">
                                        <h2 class="help__form-title">Телефон</h2>
                                        <input placeholder="+7" class="help__form-input help__form-input--tel" type="text" required>
                                    </div>
                                    <div class="col help__form-box-item">
                                        <h2 class="help__form-title">Email</h2>
                                        <input placeholder="Введите email" maxlength="35" class="help__form-input" type="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="help__form-box help__form-box--end item--hidden">
                                <h2 class="help__form-title">Данные успешнно отправлены!</h2>
                                <img src="{% static 'img/icons8-complete.svg' %}" class="help__form-box--img" alt="" srcset="">
                            </div>
                            <p class="error-text item--hidden">Введите ваш ответ</p>
                        </div>
                        <div class="help__form-buttons">
                            <div class="col-auto col-btn">
                                <button type="button" class="help__form-btn help__form-btn--prev">Назад</button>
                            </div>
                            <div class="col-auto col-btn">
                                <button type="button" class="help__form-btn help__form-btn--next">Далее</button>
                                <button type="submit" class="help__form-btn help__form-btn--submit item--hidden">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </section>

</main>
    {% endif %}
    
<script>

const forms = document.querySelectorAll(".contactForm");
console.log(forms);

forms.forEach((form) => {
    form.addEventListener("submit", async function (event) {
        event.preventDefault();
        let formData = new FormData(form);
        form.reset();
        try {
            let response = await fetch(`${window.origin}/api/save_registration_request/`, {
                method: "POST",
                body: formData,
            });
            console.log("Статус ответа:", response.status);
        } catch (error) {
            console.error("Ошибка запроса:", error);
        }
    });
});

</script>

{% endblock %}