{% extends "base.html" %}
{% load static %}
{% load cart_tags %}

{% block title %}Корзина{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<main class="cart">
    <div class="heading-wrapper">
        <div class="heading-label">
            <a href="{% url 'products:products_list' %}" class="color-black">Ваша корзина</a>
        </div>
        <div class="breadcrumb only-desktop">
            <a href="{% url 'home:home' %}" class="hover-green">Главная</a>
            <p>/</p>
            <a href="" class="hover-green">Корзина</a>
        </div>
    </div>

    <div class="cart-table only-desktop">
        {% if cart.products %}
            <div class="cart-header">
                <span>Фото</span>
                <span>Название</span>
                <span>Штрих-код</span>
                <span>Цена за штуку</span>
                <span>Кол-во</span>
                <span>На складе</span>
                <span>Цена по позиции</span>
                <span></span>
            </div>
            {% for article, item in cart.products.items %}
                <div class="cart-row" data-article="{{ article }}">
                    <div class="cart-row__image">
                        <img src="{{ article|product_image_url }}" alt="{{ article }}">
                    </div>
                    <span>{{ article|product_title }}</span>
                    <span>{{ article|product_barcode }}</span>
                    <span class="product-unit-price">{{ item.unit_price }} ₽</span>
                    <div class="cart-quantity">
                        <input id="quantity-{{ article }}" value="{{ item.quantity }}" oninput="checkQuantity('{{ article }}')">
                        <button data-article="{{ article }}" class="minus-button">-</button>
                        <button data-article="{{ article }}" class="plus-button">+</button>
                    </div>
                    <span>{{ article|product_remains }}</span>
                    <span class="product-total-price">{{ item.total_product_price }} ₽</span>
                    <button class="delete-btn" data-article="{{ article }}" onclick="deleteFromCart('{{ article }}')">удалить</button>
                </div>
            {% endfor %}
        {% else %}
        <div class="empty-cart-block">
            <div class="empty-cart-label">
                Ваша корзина пуста
            </div>
            <div>
                <a class="hover-green continue-button" href="{% url 'products:products_list' %}">Перейти к каталогу →</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="cart-mobile">
        {% if cart.products %}
            {% for article, item in cart.products.items %}
                <div class="mobile-product-card" data-article="{{ article }}">
                    <div class="upper">
                        <div class="product-data">
                            <div class="product-photo">
                                <div class="product-photo-wrapper">
                                    <img src="{{ article|product_image_url }}" alt="">
                                </div>
                                <p>{{ article|product_barcode }}</p>
                            </div>
                            <div class="product-name-and-price">
                                <p class="product-name">{{ article|product_title }}</p>
                                <p class="product-price">{{ item.unit_price }} ₽</p>
                            </div>
                        </div>
                        <button class="delete-btn delete" data-article="{{ article }}" onclick="deleteFromCart('{{ article }}')">
                            <img src="{% static 'img/delete-item.svg' %}" alt="">
                        </button>
                    </div>
                    <div class="medium">
                        <div>
                            <div class="cart-quantity">
                                <input id="mobile-quantity-{{ article }}" value="{{ item.quantity }}" oninput="checkQuantity('{{ article }}')">
                                <button data-article="{{ article }}" class="minus-button">-</button>
                                <button data-article="{{ article }}" class="plus-button">+</button>
                            </div>
                        </div>
                        <div class="product-remains">
                            <p>На складе: <span>{{ article|product_remains }}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="position-price">
                        <p>Цена по позиции:</p>
                        <p class="product-total-price">{{ item.total_product_price }} ₽</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty-cart-label">
                Ваша корзина пуста
            </div>
            <div>
                <a class="hover-green continue-button" href="{% url 'products:products_list' %}">Перейти к каталогу →</a>
            </div>
        {% endif %}
    </div>
    <div class="cart-bottom-buttons">
        <p class="result">Итог: <span>1000 р</span></p>
        <div class="continue__buttons">
            <button onclick="checkCart()" class="continue-button">Продолжить</button>
            <a href="{% url 'products:export_catalog' %}" class="get-price-button">Получить прайс</a>
        </div>
    </div>

    {% if cart.products %}
        <div class="continue__buttons only-desktop">
            <button onclick="checkCart()" class="continue-button">Продолжить</button>
            <a href="{% url 'products:export_catalog' %}" class="get-price-button">Получить прайс</a>
        </div>
        <form id="cart__next" class="cart__next" method="POST" action="/carts/create-order/">
            {% csrf_token %}
            <p class="cart__next-subheading">Выберете условия доставки и способ оплаты</p>
            <div class="cart__next-input labeled">
                <label for="city-input"><strong>Ваш город</strong></label>
                <input type="text" id="city-input" name="city" list="address_list" value="{% if request.user.city %}{{ request.user.city }}{% endif %}">
                <datalist id="address_list"></datalist>

            </div>
            <div class="cart__next-terms">
                <input type="hidden" id="delivery-input" name="delivery_terms">
                <input type="hidden" id="payment-input" name="payment_method">

                <div class="cart__next-delivery-terms">
                    <p class="cart__next-label">Способ доставки</p>
                    <div class="cart__next-delivery-terms-tiles">
                        {% for delivery_term in delivery_terms %}
                            {% if delivery_term.logo %}
                                <div class="cart__next-delivery-term" data-value="{{ delivery_term.id }}">
                                    <img src="{{ delivery_term.logo.url }}" alt="Логотип {{ delivery_term.title }}">
                                </div>
                            {% else %}
                                <div class="cart__next-delivery-term" data-value="{{ delivery_term.id }}">
                                    {{ delivery_term.title }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="cart__next-payment-terms">
                    <p class="cart__next-label">Способ оплаты</p>
                    <div class="cart__next-delivery-terms-tiles">
                        {% for payment_method in payment_methods %}
                            <div class="cart__next-delivery-term" data-value="{{ payment_method.id }}">
                                {% if payment_method.logo %}
                                    {% if payment_method.title == 'Наличные' or payment_method.title == 'Расчетный счет' %}
                                    <div class="tile-flex">
                                        <img src="{{ payment_method.logo.url }}" alt="Логотип {{ payment_method.title }}">
                                        <p>{{ payment_method.title }}</p>
                                    </div>
                                    {% else %}
                                        <img src="{{ payment_method.logo.url }}" alt="Логотип {{ payment_method.title }}">
                                    {% endif %}
                                {% else %}
                                    {{ payment_method.title }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cart__next-comment">
                <p class="cart__next-label">Комментарий</p>
                <textarea rows="3" placeholder="Оставьте комментарий к заказу" name="comment" id="comment-input"></textarea>
            </div>
            <button id="submit-button" type="submit" class="continue-button">Оформить заказ</button>
        </form>
    {% endif %}
</main>
{% endblock %}

{% block script %}
<script defer>
    $(document).ready(function () {
        $("#city-input").on("input", function () {
            console.log('кауиоршл')
            let query = $(this).val();
            if (query.length > 2) {
                $.ajax({
                    url: "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address",
                    method: "POST",
                    contentType: "application/json",
                    headers: {
                        "Authorization": "Token aa594033d2dd8b0a72dcaa25487b293486127477"
                    },
                    data: JSON.stringify({ 
                        query: query,
                        count: 10,
                        from_bound: { value: "city" },
                        to_bound: { value: "city" }
                    }),
                    success: function (data) {
                        let suggestions = data.suggestions.map(item => item.data.city);
                        $("#address_list").empty();
                        suggestions.forEach(addr => {
                            $("#address_list").append(`<option value="${addr}">`);
                        });
                    }
                });
            }
        });
});
</script>


{{ request.cart.to_dict|json_script:"cart-data" }}

<script>
const checkQuantity = (article) => {
    const quantityInput = document.getElementById(`quantity-${article}`);
    let value = quantityInput.value;
    updateQuantity(article);
};

let timeout = null;

const updateQuantity = (article) => {
    const quantityInput = document.getElementById(`quantity-${article}`);

    if (timeout) {
        clearTimeout(timeout);
    }

    timeout = setTimeout(() => {
        const newQuantity = quantityInput.value;
        console.log(newQuantity)

        fetch("{% url 'carts:change' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: new URLSearchParams({
                'article': article,
                'quantity': newQuantity
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert("Ошибка: " + data.error);
            } 
            const totalPriceElement = document.getElementById("totalOrderPrice");
            if (totalPriceElement) {
                totalPriceElement.textContent = `Итого: ${data.cart.total_price} ₽`;
            }

            updateCartDisplay(data.cart);
            
        })
        .catch(error => console.error("Ошибка при обновлении количества:", error));
    }, 200); 
};

const flushCart = () => {
    fetch("{% url 'carts:flush_cart' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: new URLSearchParams({})
    })
    .then(data => {
        if (data.error) {
            alert("Ошибка при очистке корзины:", data.error);
        } else {
            const emptyMessage = document.createElement('p');
            emptyMessage.textContent = 'Ваша корзина пуста.';
            cartTableBlock.insertAdjacentElement('afterend', emptyMessage);
            cartTableBlock.remove();
        }
    })
    .catch(error => console.error("Ошибка при отправке запроса:", error));
};
const deleteFromCart = (article) => {
    fetch("{% url 'carts:change' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: new URLSearchParams({
            'article': article,
            'quantity': -1
        })
    })
    .then(response => response.json())  
    .then(data => {
        if (data.error) {
            alert("Ошибка при очистке корзины:", data.error);
        } else {
            cart = data.cart 
            
            if (isMobile()) {
                let cardToDelete = document.querySelector(`.mobile-product-card[data-article="${article}"]`);
                cardToDelete.remove();

            } else {
                const row = document.querySelector(`div[data-article="${article}"]`);
                console.log(row);
                if (row) {
                    row.remove();
                }

                const totalPriceElement = document.getElementById("totalOrderPrice");
                if (totalPriceElement) {
                    console.log(cart)
                    totalPriceElement.textContent = `Итого: ${cart.total_price} ₽`;
                }

                if (document.querySelectorAll('.cart-row').length == 0) {
                    document.querySelector('.cart-table').innerHTML = `
                        <div class="empty-cart-block">
                        <div class="empty-cart-label">
                            Ваша корзина пуста
                        </div>
                        <div>
                            <a class="hover-green continue-button" href="{% url 'products:products_list' %}">Перейти к каталогу →</a>
                        </div>
                    </div>`;
                    document.querySelector('.continue__buttons').remove();
                }
            }
            
            renderCartPositionsCount(increase = false)
        }
    })
    .catch(error => console.error("Ошибка при отправке запроса:", error));
};

function checkCart() {
    console.log('нажали')
    fetch('{% url "carts:check_cart" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById('cart__next').style.display = 'flex';
            if (window.innerWidth < 600) {
                document.querySelector('.cart-bottom-buttons').classList.add('display-none');
                document.querySelector('#cart__next').scrollIntoView({ behavior: 'smooth' });
            }
        } else {
            let errorsContainer = document.getElementById('errors-container');
            errorsContainer.innerHTML = '';  

            data.errors.forEach(error => {
                let errorItem = document.createElement('p');
                errorItem.innerText = error;
                errorsContainer.appendChild(errorItem);
            });
        }
    })
    .catch(error => console.error('Ошибка:', error));
}

const updateCartDisplay = (cart) => {
    let userDiscount = '{{ request.user.discount }}';
    if (userDiscount == 'None') {
        userDiscount = 0;
    }
    userDiscount /= 100;

    if (isMobile()) {
        for (const article in cart.products) {
            let productCard = document.querySelector(`.mobile-product-card[data-article="${article}"]`); 

            const product = cart.products[article];

            let productUnitPrice = productCard.querySelector('.product-price'); 
            productUnitPrice.textContent = `${formatNumber(product.unit_price * (1 - userDiscount))} ₽`; 

            let productTotalPrice = productCard.querySelector('.product-total-price'); 
            productTotalPrice.textContent = `${formatNumber(product.total_product_price * (1 - userDiscount))} ₽`;

            const totalPrice = cart.total_price;
            const totalPriceElement = document.querySelector('.cart-bottom-buttons .result span');
            totalPriceElement.textContent = `${formatNumber(totalPrice * (1 - userDiscount))} ₽`; ;
        }
    } else {
        for (const article in cart.products) {
            const row = document.querySelector(`div[data-article="${article}"]`);
            if (row) {
                const product = cart.products[article];
                
                const productUnitPrice = row.querySelector('.product-unit-price');
                productUnitPrice.textContent = `${formatNumber(product.unit_price * (1 - userDiscount))} ₽`;
    
                const quantityInput = row.querySelector(`input[id="quantity-${article}"]`);
                quantityInput.value = product.quantity;
    
                const productTotalPrice = row.querySelector('.product-total-price');
                productTotalPrice.textContent = `${formatNumber(product.total_product_price * (1 - userDiscount))} ₽`;
            }
        }
    }
};


document.addEventListener("DOMContentLoaded", () => {
    let plusButtons = document.querySelectorAll('.plus-button'); 
    let minusButtons = document.querySelectorAll('.minus-button');
    plusButtons.forEach(button => {
        button.addEventListener('click', () => {
            increaseQuantity(button);
        });
    });
    minusButtons.forEach(button => {
        button.addEventListener('click', () => {
            decreaseQuantity(button);
        });
    });

    const cart = JSON.parse(document.getElementById('cart-data').textContent);
    updateCartDisplay(cart);
});

function isMobile() {
    if (window.innerWidth < 600) {
        return true;
    }
    return false;
}

function formatNumber(number) {
    let numStr = typeof number === 'number' ? number.toString() : String(number);
    
    let parts = numStr.split('.');
    let integerPart = parts[0];
    let decimalPart = parts.length > 1 ? parts[1] : '';
    
    if (decimalPart.length > 6) {
        const num = parseFloat(numStr);
        numStr = num.toFixed(2);
        parts = numStr.split('.');
        integerPart = parts[0];
        decimalPart = parts.length > 1 ? parts[1] : '';
    }
    
    integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');

    return decimalPart ? `${integerPart}.${decimalPart}` : integerPart;
}


function increaseQuantity(plusButton) {
    plusButton.disabled = true;

    const article = plusButton.dataset.article;
    let quantityInput;
    if (isMobile()) {
        quantityInput = document.getElementById(`mobile-quantity-${article}`);
    } else {
        quantityInput = document.getElementById(`quantity-${article}`);
    }
    let oldQuantity = parseInt(quantityInput.value);
    quantity = oldQuantity + 1;
    if (quantity < 1) {
        quantity = 1;
    }
    quantityInput.value = quantity;

    fetch("{% url 'carts:change' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: new URLSearchParams({
            'article': article,
            'quantity': 1,
            'append': true
        })
    })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            plusButton.disabled = false;
            if (data.error) {
                alert(data.error);
                quantityInput.value = oldQuantity;
            }
            else {
                updateCartDisplay(data.cart);
            }
        })
        .catch(error => {
            console.error("Ошибка при добавлении/удалении из корзины:", error)
            plusButton.disabled = false;
        });
    }

    function decreaseQuantity(minusButton) {
        minusButton.disabled = true;
        console.log('Уменьшаем колво')

        const article = minusButton.dataset.article;
        let quantityInput;
        if (isMobile()) {
            quantityInput = document.getElementById(`mobile-quantity-${article}`);
        } else {
            quantityInput = document.getElementById(`quantity-${article}`);
        }
        let quantity = parseInt(quantityInput.value);
        quantity -= 1;
        quantityInput.value = quantity;

        fetch("{% url 'carts:change' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: new URLSearchParams({
                'article': article,
                'quantity': -1,
                'append': true
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            minusButton.disabled = false;
            updateCartDisplay(data.cart);
        })
        .catch(error => {
            console.error("Ошибка при добавлении/удалении из корзины:", error)
            minusButton.disabled = false;
        });
    }
</script>

<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        function validateForm() {
            const cityInput = document.querySelector('#city-input');
            const deliveryInput = document.querySelector('#delivery-input');
            const paymentInput = document.querySelector('#payment-input');
            const submitButton = document.querySelector('#submit-button');
    
            if (cityInput.value.trim() && deliveryInput.value && paymentInput.value) {
                submitButton.disabled = false;
                console.log('Валидация успешна');
            } else {
                console.log('Валидация не пройдена');
                submitButton.disabled = true;
            }
        }
    
        function handleTileSelection(containerClass, inputId) {
            const container = document.querySelector(containerClass);
            const input = document.querySelector(inputId);
    
            container.addEventListener('click', (event) => {
                const target = event.target.closest('.cart__next-delivery-term');
                if (target) {
                    container.querySelectorAll('.selected').forEach((el) => el.classList.remove('selected'));
                    target.classList.add('selected');
                    input.value = target.getAttribute('data-value');
                    validateForm();
                }
            });
        }
    
        document.querySelector('#submit-button').disabled = true;
        handleTileSelection('.cart__next-delivery-terms-tiles', '#delivery-input');
        handleTileSelection('.cart__next-payment-terms .cart__next-delivery-terms-tiles', '#payment-input');
        document.querySelector('#city-input').addEventListener('input', validateForm);
    });
</script>
{% endblock %}
 