{% if products.paginator.num_pages > 1 %} 
                        {% if products.has_previous %}
                            <div class="pagination__page-control-div">
                                <p><a href="?page={{ products.previous_page_number }}" class="pagination-link color-black">Предыдущая</a></p>
                            </div>
                        {% endif %}
                        {% for p in products.paginator.page_range %}
                            {% if forloop.counter <= 5 %}
                                {% if products.number == p %}
                                    <div class="pagination__page-number-div-active">
                                        <p><a href="?page={{ p }}" class="color-white pagination-link">{{ p }}</a></p>
                                    </div>
                                {% else %}
                                    <div class="pagination__page-number-div">
                                        <p><a href="?page={{ p }}" class="color-black pagination-link">{{ p }}</a></p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if products.paginator.num_pages > 5 %}
                            <div class="pagination__page-number-div">
                                <p>...</p>
                            </div>
                            {% if products.number == products.paginator.num_pages %}
                                <div class="pagination__page-number-div-active">
                                    <p><a href="?page={{ products.paginator.num_pages }}" class="pagination-link color-white">{{ products.paginator.num_pages }}</a></p>
                                </div>
                            {% else %}
                                <div class="pagination__page-number-div">
                                    <p><a href="?page={{ products.paginator.num_pages }}" class="pagination-link color-black">{{ products.paginator.num_pages }}</a></p>
                                </div>
                            {% endif %}
                        {% endif %} 
                        {% if products.has_next %}
                            <div class="pagination__page-control-div">
                                <p><a href="?page={{ products.next_page_number }}" class="pagination-link color-black">Следующая</a></p>
                            </div>
                        {% endif %}
                    {% endif %}