{% extends "base.html" %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<main class="contacts">
    <div class="heading-wrapper only-desktop">
        <div class="heading-label">
            <a href="{% url 'products:products_list' %}" class="color-black">Контакты</a>
        </div>
    </div>
    <div class="contacts-body">
        <div class="contacts__column left">
            <div class="contacts__contact-info">
                <div class="contacts__contact-info-phone">
                    <a target="_blank" href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                    <div class="footer__messagers">
                        <div class="col-auto">
                            <a target="_blank" href="{{ company_info.whatsapp_link }}" class="footer__link">
                                <img src="/static/img/Whatsapp.svg" alt="" class="footer__link-img">
                            </a>
                        </div>
                        <div class="col-auto">
                            <a target="_blank" href="{{ company_info.telegram_link }}" class="footer__link">
                                <img src="/static/img/telegram.svg" alt="" class="footer__link-img">
                            </a>
                        </div>
                    </div>
                </div>
                <a target="_blank" href="mailto:{{ company_info.email }}">{{ company_info.email }}</a>
            </div>
            <div class="contacts__managers-block">
                <p class="contacts__subheading">Менеджеры</p>
                <div class="contacts__managers">
                    {% for manager in managers %}
                        <div class="contacts__manager">
                            <img src="{% static 'img/manager-photo.png' %}" alt="">
                            <div class="contacts__manager-info">
                                <p>{{ manager.name }}</p>
                                <a target="_blank" href="tel:{{ manager.phone }}">{{ manager.phone }}</a>
                                <a target="_blank" href="mailto:{{ manager.email }}">{{ manager.email }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="contacts__requisites-block">
                <p class="contacts__subheading">Реквизиты</p>
                <div class="contacts__requisites">
                    <p><span>ИНН:</span><span>{{ company_info.inn }}</span></p>
                    <p><span>КПП:</span><span>{{ company_info.kpp }}</span></p>
                    <p><span>ОГРН:</span><span>{{ company_info.ogrn }}</span></p>
                    <p><span>Дата регистрации:</span><span>{{ company_info.registration_date }}</span></p>
                    <p><span>Уставный капитал:</span><span>{{ company_info.authorized_capital }}</span></p>
                    <p><span>Юр. адрес:</span><span>{{ company_info.legal_address }}</span></p>
                </div>
            </div>
        </div>
        <div class="contacts__column">
            <div class="contacts__map-block">
                <p class="contacts__subheading">Мы на картах</p>
                <p>{{ company_info.address }}</p>
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>

    {% include 'home/includes/questions_block.html' %}
</main>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

{% block script %}
<script defer>
    ymaps.ready(function() {
        var myMap = new ymaps.Map("map", {
            center: [43.139841, 131.925972],
            zoom: 16,
            controls: []
        });

        var zoomControl = new ymaps.control.ZoomControl({
            options: {
                position: { right: 10, top: 50 },
                size: "small"
            }
        });

        myMap.controls.add(zoomControl);
        myMap.behaviors.disable("scrollZoom");

        var placemark = new ymaps.Placemark([43.139841, 131.925972], {
            hintContent: "Волгоградская улица, 7А",
            balloonContent: "Волгоградская улица, 7А"
        }, {
            iconLayout: "default#image",
            iconImageHref: "/static/img/map-icon-here.svg",
            iconImageSize: [50, 50],
            iconImageOffset: [-15, -42]
        });

        myMap.geoObjects.add(placemark);
    });
</script>

{% endblock %}

{% endblock %}
