{% extends "base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<main class="account">
    <div class="heading-wrapper">
        <div class="heading-label">
            <a href="{% url 'products:products_list' %}" class="color-black">Личный кабинет</a>
        </div>
    </div>
    <div class="account-body">
        <div class="account__sidebar">
            <div class="account__user-info">
                <div class="account__user-info-heading">Пользователь</div> 
                <div class="account__user-info-body">
                    <p><span class="bold">Имя: </span>{{ request.user.get_fullname }}</p>
                    <p><span class="bold">Email: </span>{{ request.user.email }}</p>
                    <p><span class="bold">Город: </span>{% if request.user.city %}{{ request.user.city }}{% else %}...{% endif %}</p>
                    <p><span class="bold">Скидка: </span>5%</p>
                </div>
                <hr>
                {% if manager %}
                    <div class="account__user-info-heading">Ваш менеджер</div> 
                    <div class="account__manager">
                        <img src="{% if manager.photo %}{{ manager.photo.url }}{% else %}{% static 'img/manager-default.png' %}{% endif %}" alt="">
                        <div class="account__manager-info">
                            <p><span class="bold">Имя: </span>{% if manager.get_full_name %}{{ manager.get_full_name }}{% else %}-{% endif %}</p>
                            <p><span class="bold">Должность: </span>{% if manager.position %}{{ manager.position }}{% else %}-{% endif %}</p>
                            <p><span class="bold">Email: </span>{{ manager.email }}</p>
                            <p><span class="bold">Телефон: </span>{{ manager.phone }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="account__content">
            <form id="accountFilterForm" action="" method="get" class="account__sort-block">
                    {% for section in filter_form.sections %}
                        {% if filter_form.cleaned_data.sections %}
                            <p class="account__sort {% if filter_form.cleaned_data.sections == section.choice_label %}active{% endif %}">{{ section }}</p>
                        {% else %}
                            <p class="account__sort {% if section.choice_label == 'Все' %}active{% endif %}">{{ section }}</p>
                        {% endif %}
                    {% endfor %}
                    <!-- <p class="account__sort-button">Выбрать период</p>

                    <div id="date-picker-container" style="display: none;">
                        <input type="date" name="start_date" class="date-picker">
                        <input type="date" name="end_date" class="date-picker">
                        <button type="submit">Применить</button>
                    </div> -->
            </form>
            <div class="account_heading">
                Ваши заказы
            </div>
            {% for order in orders %}
                <div class="account__order">
                    <div class="account__order-heading">
                        Заказ №{{ order.number }}
                    </div>
                    <div class="account__order-status-and-date">
                        <div>
                            <span class="bold">Статус:</span> {{ order.status }}
                        </div>
                        <div>
                            <span class="bold">Дата оформления:</span> {{ order.created_at|date:"d.m.y (H:i)" }}
                        </div>
                    </div>
                    <div class="cart-table">
                        <div class="cart-header">
                            <span>Производитель</span>
                            <span>Товар</span>
                            <span>Кол-во</span>
                            <span>Цена за штуку</span>
                            <span>Цена по позиции</span>
                        </div>
                        {% for item in order.items.all %}
                            <div class="cart-row border-bottom" data-barcode="{{ barcode }}">
                                <span>{{ item.brand_name }}</span>
                                <span>{{ item.product_name }}</span>
                                <span class="product-unit-price">{{ item.quantity }}</span>
                                <span>{{ item.unit_price }} ₽</span>
                                <span class="product-total-price">{{ item.total_price }} ₽</span>
                            </div>
                        {% endfor %}
                        <div class="order__footer">
                            Итог: {{ order.total_price }} ₽
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script defer>
    // Выбрать раздел каталога
    topicsButtons = document.querySelectorAll('.account__sort');
    topicsButtons.forEach(topicButton => {
        topicButton.addEventListener('click', function (event) {
            selectTopic(topicButton);
            submitForm();
        });
    })
    function selectTopic(topicButton) {
        const items = document.querySelectorAll('.account__sort');

        items.forEach(item => {
            item.classList.remove('active');
        });

        topicButton.classList.add('active');
    }
    function submitForm() {
        const form = document.querySelector('#accountFilterForm'); 
        if (form) {
            form.submit();
        } else {
            console.error("Форма не найдена!");
        }
    }
    // document.querySelector('.account__sort-button').addEventListener('click', function () {
    //     let datePicker = document.getElementById('date-picker-container');
    //     datePicker.style.display = datePicker.style.display === 'none' ? 'block' : 'none';
    // });
</script>
{% endblock %}