{% extends 'admin/change_list.html' %}
{% load admin_list %}

{% block object-tools-items %}

    {% if is_admin_or_superuser %}
        <li>
            <a href="import_catalog/" class="addlink">Импорт каталога</a>
        </li>

        <li>
            <a href="status-of-products-import/" class="addlink">Статус импорта</a>
        </li>

        <li>
            <a href="view-logs" class="addLink">Скачать логи</a>
        </li>
    {% endif %}

    <li>
        <a href="export_catalog/" class="addlink">Экспорт каталога</a>
    </li>

    
    {% change_list_object_tools %}
{% endblock %}

