{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'static/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'products:products_list' %}">
            <img src="{% static 'img/Слой 1.svg' %}" alt="Aleucos" width="80" height="62.48">
        </a>


        <div class="navbar__items_div">
            <div class="navbar__item">
                <a href="#" class="color-black">Каталог</a>
            </div>
            <div class="navbar__item">
                <a href="#" class="color-black">Сертификаты</a>
            </div>
            <div class="navbar__item">
                <a href="#" class="color-black">Вопрос-ответ</a>
            </div>
            <div class="navbar__item">
                <a href="#" class="color-black">Контакты</a>
            </div>
        </div>


        <form class="navbar__search-form">
            <input class="navbar__search-input" type="text" placeholder="Поиск по сайту" aria-label="Search">
        </form>

        <div class="navbar__icons-div">
            <div class="navbar__icon">
                <a href="{% url 'users:account' %}"><img src="{% static 'img/Depth 5, Frame 1.svg' %}" alt="account" width="40" height="40"></a>
            </div>
            <div class="navbar__icon">
                <a href="{% url 'carts:cart_items' %}"><img src="{% static 'img/Depth 5, Frame 2.svg' %}" alt="cart" width="40" height="40"></a>
            </div>
        </div>
    </nav>

    <main class="main-content">

        <div class="header-div">
            <div class="header-label">
                Каталог
            </div>
            <div class="breadcrumb">
                <div class="breadcrumb-item-div">
                    <a href="#" class="breadcrumb-item">Главная</a>
                    <img src="{% static 'img/Frame.svg' %}" alt="cart" width="16" height="16" class="breadcrumb-divider">
                </div>
                
                <div class="breadcrumb-item-div">
                    <a href="#" class="breadcrumb-item">Каталог</a>
                </div>
            </div>
        </div>


        <div class="content d-flex">
            <div class="sidebar-div">
                <div id="sidebar__categories-div" class="sidebar__section-div">
                    <div class="sidebar__section-header-div">
                        <p class="sidebar__section-header-label">Категория</p>                        
                    </div>
                    <div>
                        <div class="sidebar__section">
                            {% for category in form.categories %}
                                {% if forloop.counter <= 8 %}
                                    <div class="sidebar__section-item-div">
                                        <p><a href="#!" class="sidebar__section-item-label color-black">{{ category.choice_label }}</a></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        <div id="hiddenCategories" style="display: none;">
                            {% for category in form.categories %}
                                {% if forloop.counter > 8 %}
                                    <div class="sidebar__section-item-div">
                                        <p><a href="#" class="sidebar__section-item-label color-black">{{ category.choice_label }}</a></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="sidebar__section-item-div">
                            <p><a id="showMoreCategoriesButton" class="sidebar__section-item-label color-blue" onclick="">Посмотреть все</a></p>
                        </div>
                    </div>
                </div>

                

                <div class="sidebar__section-div">
                    <div class="sidebar__section-header-div">
                        <p class="sidebar__section-header-label">Цена, ₽</p>                        
                    </div>
                    <div class="sidebar__price-inputs-div">
                        {{ form.price_min }}
                        {{ form.price_max }}
                    </div>
                </div>

                <div class="sidebar__section-div">
                    <div class="sidebar__section-header-div">
                        <p class="sidebar__section-header-label">Производитель</p>                        
                    </div>

                    <div>

                        {% for brand in form.brands %}
                            {% if forloop.counter <= 8 %}
                                <div class="sidebar__section-item-div">
                                    <label class="sidebar__brand-item-label">
                                        {{ brand }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div id="hiddenBrands" style="display: none;">
                            {% for brand in form.brands %}
                                {% if forloop.counter > 8 %}
                                    <div class="sidebar__section-item-div">
                                        <label class="sidebar__brand-item-label">
                                            {{ brand }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        <div class="sidebar__section-item-div">
                            <p><a id="showMoreBrandsButton" class="sidebar__section-item-label color-blue">Посмотреть все</a></p>
                        </div>
                    </div>
                </div>

                <div class="sidebar__section-div">
                    <div class="sidebar__section-header-div">
                        <p class="sidebar__section-header-label">Наличие</p>  
                    </div>                      
                    <div>
                        <div class="sidebar__section-item-div">
                            <label class="sidebar__brand-item-label">
                                {{ form.is_in_stock }}
                                {{ form.is_in_stock.label }}
                            </label>
                        </div>
                        <div class="sidebar__section-item-div">
                            <label class="sidebar__brand-item-label">
                                <input type="checkbox" class="sidebar__section-checkbox">
                                Под заказ
                            </label>
                        </div>
                    </div>
                </div>

                <div class="sidebar__section-div">
                    <div id="resetFiltersButton" class="sidebar__reset-filters-div">
                        <div>Очистить всё</div>
                    </div>
                </div>
        </div>

        <div class="catalog__content">
            <div>
                <div class="catalog__topics-div">
                    <div class="catalog__topics-active-item-div">
                        <p>все</p>
                    </div>
                    {% for section in form.sections %}
                        <div class="catalog__topics-item-div">
                            <p>{{ section }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div>
                <div class="catalog__section"></div>
                    <div class="catalog__section-header-div">
                        <p class="catalog__section-header-label">Популярные</p>
                    </div>
                    <div class="catalog__product-grid">


                        {% for product in products %}
                
                            <div class="catalog__card">
                                <div class="catalog__card-image-div">
                                    <img src="{{ product.photo.url }}" alt="cart" class="catalog__cart-image">
                                </div>
                                <div>
                                    <div class="catalog__card-title-div truncate-text">
                                        <p>{{ product.title }}</p>
                                    </div>
                                    <div>
                                        {% if request.user.is_authenticated %}
                                            <div class="catalog__card-price-div">
                                                <p class="catalog__card-price-label">{{ product.price_before_200k }} ₽</p>
                                            </div>

                                            {% if product.barcode|slugify in barcodes_in_cart %}
                                                <div class="catalog__card-quantity-controls-div">
                                                    <button class="catalog__card-cart-control-minus">
                                                        <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                                    </button>
                                                    <span id="cartQuantity_{{ product_barcode }}">1</span>
                                                    <button class="catalog__card-cart-control-plus">
                                                        <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                                    </button>
                                                </div>
                                            {% else %}
                                                <div class="catalog__card-add-to-cart-div">
                                                    <div id="{{ product.barcode }}" class="catalog__card-add-to-cart-label">В корзину</div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="catalog__section">
                    <div class="catalog__section-header-div">
                        <p class="catalog__section-header-label">Популярные</p>
                    </div>
                    <div class="catalog__product-grid">
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__section">
                    <div class="catalog__section-header-div">
                        <p class="catalog__section-header-label">Новинки</p>
                    </div>
                    <div class="catalog__product-grid">
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__section">
                    <div class="catalog__section-header-div">
                        <p class="catalog__section-header-label">Акции</p>
                    </div>
                    <div class="catalog__product-grid">
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 13.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Benton - Aloe BHA Skin Toner 200ml (6.76 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <div class="catalog__card-add-to-cart-label">В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 14.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Cosrx - Advanced Snail 96 Mucin Power Essence 100ml (3.38 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">300 ₽</p>
                                    </div>
                                    <div class="catalog__card-quantity-controls-div">
                                        <button class="catalog__card-cart-control-minus">
                                            <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                        </button>
                                        <span id="cartQuantity_{{ product_barcode }}">1</span>
                                        <button class="catalog__card-cart-control-plus">
                                            <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 15.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">1 500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <div class="catalog__card-image-div">
                                <img src="{% static 'img/image 16.svg' %}" alt="cart" class="catalog__cart-image">
                            </div>
                            <div>
                                <div class="catalog__card-title-div truncate-text">
                                    <p>Klairs - Freshly Juiced Vitamin Drop 35ml (1.18 fl.oz)</p>
                                </div>
                                <div>
                                    <div class="catalog__card-price-div">
                                        <p class="catalog__card-price-label">500 ₽</p>
                                    </div>
                                    <div class="catalog__card-add-to-cart-div">
                                        <p class="catalog__card-add-to-cart-label">В корзину</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination-div">
                    <div class="pagination__show-more-div">
                        <div class="pagination__show-more-button">
                            Показать ещё
                        </div>
                    </div>
                    <div class="pagination__controls-div">
                        <div class="pagination__page-number-div-active">
                            <p>1</p>
                        </div>
                        <div class="pagination__page-number-div">
                            <p>2</p>
                        </div>
                        <div class="pagination__page-number-div">
                            <p>3</p>
                        </div>
                        <div class="pagination__page-number-div">
                            <p>4</p>
                        </div>
                        <div class="pagination__page-number-div">
                            <p>...</p>
                        </div>
                        <div class="pagination__page-number-div">
                            <p>99</p>
                        </div>
                        <div class="pagination__page-next-div">
                            <p>Следующая</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__left">
                <a href="#!">
                    <p class="footer__copyright-label">© 2024 Aleucos</p>
                </a>
            </div>

            <div class="footer__center">
                <div class="footer__item">
                    <a href="#" class="color-gray">Каталог</a>
                </div>
                <div class="footer__item">
                    <a href="#" class="color-gray">Сертификаты</a>
                </div>
                <div class="footer__item">
                    <a href="#" class="color-gray">Вопрос-ответ</a>
                </div>
                <div class="footer__item">
                    <a href="#" class="color-gray">Контакты</a>
                </div>
                <div class="footer__item">
                    <a href="#" class="color-gray">Политика конфиденциальности</a>
                </div>
            </div>

            <div class="footer__right">
                <div class="footer__icon">
                    <a href="#!">
                        <img src="{% static 'img/Subtract.svg' %}" alt="telegram">
                    </a>
                </div>
                <div class="footer__icon">
                    <a href="#!">
                        <img src="{% static 'img/Subtract (1).svg' %}" alt="instagram">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<script>
// Показать больше категорий
document.getElementById('showMoreCategoriesButton').addEventListener('click', function(event) {
    event.preventDefault(); 
    const hiddenCategories = document.getElementById('hiddenCategories');
    
    if (hiddenCategories.style.display === 'none') {
        hiddenCategories.style.display = 'block';
        this.textContent = 'Скрыть'; 
    } else {
        hiddenCategories.style.display = 'none';
        this.textContent = 'Посмотреть все'; 
    }
});

// Показать больше брендов
document.getElementById('showMoreBrandsButton').addEventListener('click', function(event) {
    event.preventDefault(); 
    const hiddenBrands = document.getElementById('hiddenBrands');
    
    if (hiddenBrands.style.display === 'none') {
        hiddenBrands.style.display = 'block';
        this.textContent = 'Скрыть'; 
    } else {
        hiddenBrands.style.display = 'none';
        this.textContent = 'Посмотреть все'; 
    }
});

// Очистить все фильтры 
document.getElementById('resetFiltersButton').addEventListener('click', function(event) {
    event.preventDefault(); 
    
    let checkboxes = document.querySelectorAll('.sidebar__section-checkbox');
    console.log(checkboxes)
    checkboxes.forEach(function(checkbox) {
        checkbox.checked = false;
    });

    let priceInputs = document.querySelectorAll('.sidebar__price-input');
    priceInputs.forEach(function(input) {
        input.value = '';
    });

    document.getElementById('hiddenCategories').style.display = 'none';
    document.getElementById('hiddenBrands').style.display = 'none';

});

// Уменьшить количество товара в корзине
minusCartQuantityButtons = document.querySelectorAll('.catalog__card-cart-control-minus');
minusCartQuantityButtons.forEach(minusButton => {
    minusButton.addEventListener('click', function(event) {
        minusQuantity(minusButton);
    });
});
function minusQuantity(minusButton) {
    quantityBlock = minusButton.nextElementSibling;
    let quantity = parseInt(quantityBlock.textContent);

    console.log(quantityBlock);
    quantity -= 1;
    if (quantity < 1) {
        quantity = 1;
    }
    quantityBlock.textContent = quantity;
}

// Увеличить количество товара в корзине
plusCartQuantityButtons = document.querySelectorAll('.catalog__card-cart-control-plus');
plusCartQuantityButtons.forEach(plusButton => {
    plusButton.addEventListener('click', function(event) {
        plusQuantity(plusButton);
    });
});
function plusQuantity(plusButton) {
    quantityBlock = plusButton.previousElementSibling;
    let quantity = parseInt(quantityBlock.textContent);

    console.log(quantityBlock);
    quantity += 1;
    if (quantity < 1) {
        quantity = 1;
    }
    quantityBlock.textContent = quantity;
}

// Выбрать раздел каталога
topicsButtons = document.querySelectorAll('.catalog__topics-item-div, .catalog__topics-active-item-div');
topicsButtons.forEach(topicButton => {
    topicButton.addEventListener('click', function(event) {
        selectTopic(topicButton);
    });
})
function selectTopic(topicButton) {
    const items = document.querySelectorAll('.catalog__topics-item-div, .catalog__topics-active-item-div');

    items.forEach(item => {
        item.classList.remove('catalog__topics-active-item-div');
        item.classList.add('catalog__topics-item-div');
    });

    topicButton.classList.remove('catalog__topics-item-div');
    topicButton.classList.add('catalog__topics-active-item-div');
}
</script>