{% extends "base.html" %}
{% load static %}
{% load products_tags %}
{% load cart_tags %}

{% block content %}
<main class="catalog">
    <div class="heading-wrapper only-desktop">
        <div class="left-part">
            <div class="heading-label">
                <a href="{% url 'products:products_list' %}" class="color-black">Каталог</a>
            </div>
            <div class="breadcrumb">
                <a href="{% url 'home:home' %}" class="hover-green">Главная</a>
                <p>/</p>
                <a href="" class="hover-green">Каталог</a>
            </div>
        </div>
    </div>


    <div class="catalog-body">
        <div class="sidebar only-desktop">
            <form id="filter-form" action="/products/filters/" method="get"> 
            <div id="sidebar__categories-div" class="sidebar__section">
                <div class="sidebar__section-heading">
                    <p>Категория</p>
                </div>
                <div>
                    <div class="sidebar__section-points">
                        {% for category in form.categories %}
                        {% if forloop.counter <= 8 %} 
                            <div class="sidebar__section-item-div">
                                <label class="sidebar__checkbox-item hover-green">
                                    {{ category }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div id="hiddenCategories" style="display: none;">
                        {% for category in form.categories %}
                        {% if forloop.counter > 8 %}
                        <div class="sidebar__section-item-div">
                            <label class="sidebar__brand-item-label">
                                {{ category }}
                            </label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="sidebar__section-item-div">
                    <p><a id="showMoreCategoriesButton" class="sidebar__section-item-label color-blue"
                            onclick="">Посмотреть все</a></p>
                </div>
            </div>

            <div class="sidebar__section">
                <div class="sidebar__section-heading">
                    <p>Поиск по штрихкоду</p>
                </div>
                <div class="sidebar__price-inputs-div">
                    {{ form.barcode }}
                </div>
            </div>

            <div class="sidebar__section">
                <div class="sidebar__section-heading">
                    <p>Цена, ₽</p>
                </div>
                <div class="sidebar__price-inputs-div">
                    {{ form.price_min }}
                    {{ form.price_max }}
                </div>
            </div>

            <div class="sidebar__section">
                <div class="sidebar__section-heading">
                    <p>Вес, кг</p>
                </div>
                <div class="sidebar__price-inputs-div">
                    {{ form.weight_min }}
                    {{ form.weight_max }}
                </div>
            </div>

            <div class="sidebar__section">
                <div class="sidebar__section-heading">
                    <p>Производитель</p>
                </div>

                {{ form.brand_search }}

                <div class="sidebar__section-points">
                    {% for brand in form.brands %}
                    {% if forloop.counter <= 8 %} 
                    <div class="sidebar__section-item-div">
                        <label class="sidebar__brand-item-label">
                            {{ brand }}
                        </label>
                    </div>
                {% endif %}
                {% endfor %}
                </div>

                <div id="hiddenBrands" style="display: none;">
                    {% for brand in form.brands %}
                    {% if forloop.counter > 8 %}
                    <div class="sidebar__section-item-div">
                        <label class="sidebar__brand-item-label">
                            {{ brand }}
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="sidebar__section-item-div">
                    <p><a id="showMoreBrandsButton" class="sidebar__section-item-label color-blue">Посмотреть все</a>
                    </p>
                </div>
            </div>

            <div class="sidebar__section stock-section">
                <div class="sidebar__section-heading">
                    <p>Наличие</p>
                </div>
                <div>
                    <div class="sidebar__section-item-div">
                        <label class="sidebar__brand-item-label">
                            {{ form.is_in_stock }}
                            {{ form.is_in_stock.label }}
                        </label>
                    </div>
                    <div class="sidebar__section-item-div">
                        <label class="sidebar__brand-item-label">
                            {{ form.is_not_in_stock }}
                            {{ form.is_not_in_stock.label }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="sidebar__section">
                <div id="resetFiltersButton" class="sidebar__reset-filters">
                    <div>Очистить всё</div>
                </div>
            </div>
        </div>


        <div class="catalog__content">
            <div class="only-desktop">
                <div class="catalog__topics-panel">
                    <div class="catalog__topics only-desktop">
                        {% for section in form.sections %}
                            <div class="catalog__topic {% if section.choice_label == 'все' %}active{% endif %}">
                                <p class="hover-green">
                                    {{ section }}
                                </p>
                            </div>
                        {% endfor %}
                            <div id="viewModeButton" 
                                data-status="quick" 
                                data-full-mode-url="{% static 'img/quick-view-mode.svg' %}"
                                data-quick-mode-url="{% static 'img/full-view-mode.svg' %}"
                                class="catalog__topic-like {% if section.choice_label == 'все' %}active{% endif %}"
                            >
                                <p class="hover-green">
                                    вид
                                </p>
                                <img src="{% static 'img/full-view-mode.svg' %}" alt="">
                            </div>
                    </form>
                    </div>
                    <a href="{% url 'products:export_catalog' %}" class="export-catalog">
                        <p>Скачать каталог</p>
                        <img src="{% static 'img/download.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="catalog__cards-container">
                <a href="{% url 'products:export_catalog' %}" class="export-catalog only-mobile flex">
                    <p>Скачать каталог</p>
                    <img src="{% static 'img/download.svg' %}" alt="">
                </a>
                <div class="mobile-filters">
                    <div class="upper-panel">
                        <div class="back-button">
                            <img src="{% static 'img/arrow-back.svg' %}" alt="">
                            <p>Фильтры</p>
                        </div>
                    </div>
                    <div class="mobile-filters-main">
                        <form method="get" action="" class="mobile-filters-section" id="mobileFilterForm">
                            <div class="heading">Категория</div>
                            <div class="mobile-filters-points">
                                <div class="sidebar__section-points">
                                    {% for category in form.categories %}
                                        {% if forloop.counter <= 8 %} 
                                            <div class="sidebar__section-item-div">
                                                <label class="sidebar__checkbox-item hover-green">
                                                    <label for="mobile_{{ category.id_for_label }}">
                                                        <input type="checkbox" 
                                                            name="{{ form.categories.html_name }}" 
                                                            value="{{ category.data.value }}" 
                                                            class="sidebar__section-checkbox filter-input" 
                                                            id="mobile_{{ category.id_for_label }}"
                                                        >
                                                        {{ category.choice_label }}
                                                    </label>
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="hiddenCategories" style="display: none;">
                                    {% for category in form.categories %}
                                        {% if forloop.counter <= 8 %} 
                                            <div class="sidebar__section-item-div">
                                                <label class="sidebar__checkbox-item hover-green">
                                                    <label for="mobile_{{ category.id_for_label }}">
                                                        <input type="checkbox" 
                                                            name="{{ form.categories.html_name }}" 
                                                            value="{{ category.data.value }}" 
                                                            class="sidebar__section-checkbox filter-input" 
                                                            id="mobile_{{ category.id_for_label }}"
                                                        >
                                                        {{ category.choice_label }}
                                                    </label>
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="sidebar__section-item-div">
                                    <p><a id="showMoreCategoriesButton" class="sidebar__section-item-label color-blue"
                                            onclick="">Посмотреть все</a></p>
                                </div>
                            </div>
                        <div class="mobile-filters-section">
                            <div class="heading">Поиск по штрихкоду</div>
                            <div class="mobile-filters-points">
                                <div class="sidebar__price-inputs-div">
                                    <input 
                                        type="number" 
                                        name="{{ form.barcode.html_name }}" 
                                        class="sidebar__price-input width-100 filter-input" 
                                        placeholder="Введите штрихкод..." 
                                        min="0" 
                                        step="1" 
                                        maxlength="12" 
                                        id="mobile_{{ form.barcode.id_for_label }}">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-filters-section">
                            <div class="heading">Цена</div>
                            <div class="mobile-filters-points">
                                <div class="sidebar__price-inputs-div">
                                    <input 
                                        type="number" 
                                        name="{{ form.price_min.html_name }}" 
                                        class="sidebar__price-input filter-input" 
                                        placeholder="От 0 ₽" 
                                        min="0" 
                                        step="100" 
                                        id="mobile_{{ form.price_min.id_for_label }}"
                                    >
                                    <input 
                                        type="number" 
                                        name="{{ form.price_max.html_name }}" 
                                        class="sidebar__price-input filter-input" 
                                        min="0" step="100" 
                                        placeholder="До 5 128.0 ₽" 
                                        id="mobile_{{ form.price_max.id_for_label }}">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-filters-section">
                            <div class="heading">Производитель</div>
                            {{ form.brand_search }}
                            <div class="mobile-filters-points">
                                <div class="sidebar__section-points">
                                    {% for brand in form.brands %}
                                        {% if forloop.counter <= 8 %} 
                                            <div class="sidebar__section-item-div">
                                                <div class="sidebar__checkbox-item hover-green">
                                                    <label for="mobile_{{ brand.id_for_label }}">
                                                        <input 
                                                            type="checkbox" 
                                                            name="{{ form.brands.html_name }}" 
                                                            value="{{ brand.data.value }}" 
                                                            class="sidebar__section-checkbox filter-input" 
                                                            id="mobile_{{ brand.id_for_label }}"
                                                        >
                                                        {{ brand.choice_label }}
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="hiddenCategories" style="display: none;">
                                    {% for brand in form.brands %}
                                        {% if forloop.counter <= 8 %} 
                                            <div class="sidebar__section-item-div">
                                                <label class="sidebar__checkbox-item hover-green">
                                                    <label for="mobile_{{ brand.id_for_label }}">
                                                        <input 
                                                            type="checkbox" 
                                                            name="{{ form.brands.html_name }}" 
                                                            value="{{ brand.data.value }}" 
                                                            class="sidebar__section-checkbox filter-input" 
                                                            id="mobile_{{ brand.id_for_label }}"
                                                        >
                                                        {{ brand.choice_label }}
                                                    </label>
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="sidebar__section-item-div">
                                    <p><a id="showMoreCategoriesButton" class="sidebar__section-item-label color-blue"
                                            onclick="">Посмотреть все</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-filters-section">
                            <div class="heading">Наличие</div>
                            <div class="mobile-filters-points">
                                <div class="sidebar__section-item-div">
                                    <label class="sidebar__brand-item-label">
                                        <input 
                                            type="checkbox" 
                                            name="{{ form.is_in_stock.html_name }}" 
                                            class="sidebar__section-checkbox filter-input" 
                                            id="{{ form.is_in_stock.id_for_label }}">
                                        {{ form.is_in_stock.label }}
                                    </label>
                                </div>
                                <div class="sidebar__section-item-div">
                                    <label class="sidebar__brand-item-label">
                                        <input 
                                            type="checkbox" 
                                            name="{{ form.is_not_in_stock.html_name }}" 
                                            class="sidebar__section-checkbox filter-input" 
                                            id="{{ form.is_not_in_stock.id_for_label }}">
                                        {{ form.is_not_in_stock.label }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-buttons">
                        <div class="mobile-filters-submit section__btn">
                            Применить
                        </div>
                        <div class="clean-all">
                            <img src="{% static 'img/close-mobile-filters.svg' %}" alt="">
                            <a href="{% url 'products:products_list' %}">Очистить всё</a>
                        </div>
                    </div>
                </div>
                <div class="mobile-filters-panel">
                    <div>
                        <div class="mobile-sort-dropdown">
                            <select class="sort-select" onchange="handleMobileSortChange(this)">
                                {% for section in form.sections %}
                                    <option value="{{ section.choice_label }}">{{ section.choice_label }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        </div>
                    </div>
                    <div class="open-mobile-filters">
                        <img src="{% static 'img/filter-icon.svg' %}" alt="">
                        <p>Фильтры</p>
                    </div>
                </div>
                <div class="catalog__content-heading only-desktop">
                    <p>Популярное</p>
                </div>
                <div id="catalogCards" class="catalog__cards">
                    {% for product in products %}
                        <div class="catalog__card">
                            <a href="{{ product.get_absolute_url }}" class="catalog__card-image">
                                <img src="{{ product.article|product_image_url }}" alt="cart" class="catalog__cart-image">
                            </a>
                            <div class="catalog__card-bottom">
                                <div class="catalog__card-name">
                                    <a href="{{ product.get_absolute_url }}" class="hover-green">{{ product.title }}</a>
                                </div>
                                {% if request.user.is_authenticated %}                                    
                                    <div class="catalog__card-price-block">
                                        <div class="catalog__card-price">
                                            {% if request.user.discount %}
                                                <p class="with-discount">{{ product.price_before_200k|apply_discount:request.user.discount }} ₽</p>
                                                <p class="without-discount">{{ product.price_before_200k|floatformat:2|price_format }} ₽</p>
                                            {% else %}
                                                <p>{{ product.price_before_200k|floatformat:2|price_format }} ₽</p>
                                            {% endif %}
                                        </div>
                                        {% if product.quantity_in_cart != 0 %}
                                            <div class="catalog__card-cart-controls">
                                                <button id="{{ product.article }}" class="catalog__card-cart-control-minus">
                                                    <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                                                </button>
                                                <input type="number" id="quantity-input-{{ product.article }}" class="catalog__card-quantity-input" value="{{ product.quantity_in_cart }}">
                                                <button id="{{ product.article }}" class="catalog__card-cart-control-plus">
                                                    <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                                                </button>
                                            </div>
                                        {% else %}
                                            {% if product.is_in_stock %}
                                                <div id="{{ product.article }}" class="catalog__card-cart-button add-to-cart">
                                                    В корзину
                                                </div>
                                            {% else %} 
                                                {% if product.will_arrive_at %}
                                                    <div class="catalog__card-not-in-stock">
                                                        В пути до {{ product.will_arrive_at|date:"d.m.y"  }}
                                                    </div>
                                                {% else %}
                                                    <div class="catalog__card-not-in-stock">
                                                        Нет в наличии
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">   
                <button class="pagination__show-more">
                    
                </button>                 
                <div id="pagination" class="pagination__controls">
                    {% if products.paginator.num_pages > 1 %} 
                        {% if products.has_previous %}
                            <div class="pagination__page-control-div">
                                <p><a href="?page={{ products.previous_page_number }}" class="pagination-link color-black">Предыдущая</a></p>
                            </div>
                        {% endif %}
                        {% for p in products.paginator.page_range %}
                            {% if forloop.counter <= 5 %}
                                {% if products.number == p %}
                                    <div class="pagination__page-number-div-active">
                                        <p><a href="?page={{ p }}" class="color-white pagination-link">{{ p }}</a></p>
                                    </div>
                                {% else %}
                                    <div class="pagination__page-number-div">
                                        <p><a href="?page={{ p }}" class="color-black pagination-link">{{ p }}</a></p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if products.paginator.num_pages > 5 %}
                            <div class="pagination__page-number-div">
                                <p>...</p>
                            </div>
                            {% if products.number == products.paginator.num_pages %}
                                <div class="pagination__page-number-div-active">
                                    <p><a href="?page={{ products.paginator.num_pages }}" class="pagination-link color-white">{{ products.paginator.num_pages }}</a></p>
                                </div>
                            {% else %}
                                <div class="pagination__page-number-div">
                                    <p><a href="?page={{ products.paginator.num_pages }}" class="pagination-link color-black">{{ products.paginator.num_pages }}</a></p>
                                </div>
                            {% endif %}
                        {% endif %} 
                        {% if products.has_next %}
                            <div class="pagination__page-control-div">
                                <p><a href="?page={{ products.next_page_number }}" class="pagination-link color-black">Следующая</a></p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="catalog__section-header-div" id="noProductsFoundLabel" style="display: none;">
                <p class="catalog__empty-catalog-label">Ничего не найдено...</p>
            </div>
        </div>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Функция debounce
function debounce(func, delay) {
    let timeoutId;
    return function (...args) {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
            func.apply(this, args);
        }, delay);
    };
}

// Фильтрация
document.addEventListener('DOMContentLoaded', function () {
    let searchInput = document.getElementById('searchInput')
    const filters = document.querySelectorAll('.filter-input');
    let pagination = document.getElementById('pagination');
    let paginationContainer = document.querySelector('.pagination');


    const applyMobileFilters = document.querySelector('.mobile-filters-submit');

    // Функция для отправки данных на сервер
    const sendFiltersData = debounce(function () {
        let formData = undefined;
        if (isMobile()) {
            formData = new FormData(document.getElementById('mobileFilterForm'));

            const sortSelect = document.querySelector('.mobile-filters-panel .mobile-sort-dropdown .sort-select'); 
            console.log(sortSelect)
            const selectedSection = sortSelect.value; 
            console.log(selectedSection)

            formData.append('sections', selectedSection);
        } 
        else {
            formData = new FormData(document.getElementById('filter-form'));
        }
        console.log(formData)

        const params = new URLSearchParams();
        formData.forEach((value, key) => {
            params.append(key, value);
        });

        fetch(`/products/filters?${params.toString()}`, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            const catalogCards = document.getElementById('catalogCards');
            console.log(data.cards)
            if (data.cards) {
                catalogCards.innerHTML = data.cards;
                pagination.innerHTML = data.pagination;
                paginationContainer.style.display = 'flex';

                document.getElementById('noProductsFoundLabel').style.display = 'none';

                renderCurrViewMode();
            } else {
                catalogCards.innerHTML = null;
                pagination.innerHTML = null;
                paginationContainer.style.display = 'none';
                document.getElementById('noProductsFoundLabel').style.display = 'block';
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    }, 150); 

    // Навешиваем обработчики событий
    if (!isMobile()) {
        filters.forEach(function (filter) {
            filter.addEventListener('change', sendFiltersData);
        });
    } else {
        applyMobileFilters.addEventListener('click', () => {
            sendFiltersData(); 
            document.querySelector('.mobile-filters').classList.remove('active');
        });

        const sortSelect = document.querySelector('.mobile-filters-panel .mobile-sort-dropdown .sort-select'); 
        sortSelect.addEventListener('change', () => {
            sendFiltersData();
        });

    }

});

    // Сохранить фильтры при пагинации
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('filter-form');
        const paginationContainer = document.getElementById('pagination');

        paginationContainer.addEventListener('click', function (event) {
            if (event.target.tagName === 'A' && event.target.classList.contains('pagination-link')) {
                event.preventDefault();

                const formData = new FormData(form);
                const url = form.action;

                const params = new URLSearchParams();
                formData.forEach((value, key) => {
                    params.append(key, value);
                });

                let viewModeButton = document.getElementById('viewModeButton'); 
                let viewMode = viewModeButton.dataset.status;
                params.append('view-mode', viewMode)

                const pageUrl = `${event.target.href}&${params.toString()}`;

                window.location.href = pageUrl;
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const viewMode = urlParams.get("view-mode"); 

        if (viewMode != "") {
            let viewModeButton = document.getElementById('viewModeButton'); 
            let viewModeImage = viewModeButton.querySelector('img');
            let cards = document.querySelectorAll('.catalog__card');
            let catalog = document.getElementById('catalogCards');

            if (viewMode == "quick") {
                cards.forEach(card => {
                    card.style.width = 'calc((100% - 24px * 2) / 3)'; 
                });
                viewModeButton.dataset.status = 'quick';
                viewModeImage.src = viewModeButton.dataset.quickModeUrl;
            } else if (viewMode == "full") {
                cards.forEach(card => {
                    card.style.width = 'calc((100% - 24px * 3) / 4)'; 
                });
                viewModeButton.dataset.status = 'full';
                viewModeImage.src = viewModeButton.dataset.fullModeUrl;;
            }
        }
    });

    // Добавить товар в корзину
    document.addEventListener("click", function (event) {
        const button = event.target.closest(".catalog__card-cart-button");
        if (button) {
            event.preventDefault();
            
            const card = button.closest(".catalog__card");
            const article = button.id;
            const addToCartButtonBackup = button.cloneNode(true); 

            renderCartPositionsCount(increase = true)

            const cartControls = document.createElement('div');
            cartControls.classList.add('catalog__card-cart-controls');
            cartControls.innerHTML = `
                <button id="${article}" class="catalog__card-cart-control-minus">
                    <img src="{% static 'img/Vector (1).svg' %}" alt="cart">
                </button>
                <input type="number" id="quantity-input-${article}" class="catalog__card-quantity-input" min="1" value="1">
                <button id="${article}" class="catalog__card-cart-control-plus">
                    <img src="{% static 'img/Vector (2).svg' %}" alt="cart">
                </button>
            `;

            button.replaceWith(cartControls);

            fetch("{% url 'carts:change' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams({
                    'article': article,
                    'quantity': 1,
                    'append': true
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("Ошибка: " + data.error);
                        cartControls.replaceWith(addToCartButtonBackup);
                    }
                    updateCartIcon(Object.keys(data.cart.products).length); 
                })
                .catch(error => console.error("Ошибка при добавлении/удалении из корзины:", error));
        }
    });

    function throttle(func, delay) {
        let lastCall = 0;
        return function (...args) {
            const now = (new Date()).getTime();
            if (now - lastCall < delay) {
                return;
            }
            lastCall = now;
            return func(...args);
        };
    }

    // Увеличить количество товара в корзине 
    document.addEventListener("click", function (event) {
        const plusButton = event.target.closest(".catalog__card-cart-control-plus");
        if (plusButton) {
            event.preventDefault();
            throttle(increaseQuantity(plusButton), 500);
        }
    });
    function increaseQuantity(plusButton) {
        plusButton.disabled = true;
        
        const article = plusButton.id;

        const quantityInput = plusButton.previousElementSibling;
        let oldQuantity = parseInt(quantityInput.value);
        quantity = oldQuantity + 1;
        if (quantity < 1) {
            quantity = 1;
        }
        quantityInput.value = quantity;

        fetch("{% url 'carts:change' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: new URLSearchParams({
                'article': article,
                'quantity': 1,
                'append': true
            })
        })
            .then(response => response.json())
            .then(data => {
                plusButton.disabled = false;
                if (data.error) {
                    alert(data.error);
                    quantityInput.value = oldQuantity;
                    renderCartPositionsCount(increase = false);
                }
            })
            .catch(error => {
                console.error("Ошибка при добавлении/удалении из корзины:", error)
                plusButton.disabled = false;
            });
    }

    // Уменьшить количество товара в корзине 
    document.addEventListener("click", function (event) {
        const minusButton = event.target.closest(".catalog__card-cart-control-minus");
        if (minusButton) {
            event.preventDefault();
            throttle(decreaseQuantity(minusButton), 500);
        }
    });
    function decreaseQuantity(minusButton) {
        minusButton.disabled = true;
        console.log('Уменьшаем колво')

        const article = minusButton.id;
        const quantityInput = minusButton.nextElementSibling;
        let quantity = parseInt(quantityInput.value);
        quantity -= 1;
        if (quantity < 1) {
            const addToCartButton = document.createElement('div');
            addToCartButton.classList.add('catalog__card-add-to-cart-div');
            addToCartButton.innerHTML = `
            <div id="${article}" class="catalog__card-cart-button add-to-cart">
                                                    В корзину
                                                </div>
        `;
            minusButton.parentElement.insertAdjacentElement('afterend', addToCartButton);
            minusButton.parentElement.remove();
            
            renderCartPositionsCount(increase = false);
        }
        quantityInput.value = quantity;

        fetch("{% url 'carts:change' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: new URLSearchParams({
                'article': article,
                'quantity': -1,
                'append': true
            })
        })
            .then(response => response.json())
            .then(data => {
                minusButton.disabled = false;
                updateCartIcon(Object.keys(data.cart.products).length);
            })
            .catch(error => {
                console.error("Ошибка при добавлении/удалении из корзины:", error)
                minusButton.disabled = false;
            });
    }

    /**
     * Обновляет отображение количества позиций в корзине
     * @param {boolean} increase - Увеличить ли количество позиций
     */

    // Изменить количество товара в корзине через инпут
    document.addEventListener('DOMContentLoaded', function () {
        const productGrid = document.getElementById('productGrid');

        productGrid.addEventListener('change', function (event) {
            const inputElement = event.target;

            if (inputElement.classList.contains('catalog__card-quantity-input')) {
                const newQuantity = parseInt(inputElement.value);
                const article = inputElement.id.replace('quantity-input-', '');

                if (isNaN(newQuantity) || newQuantity < 1) {
                    alert('Пожалуйста, введите верное значение.');
                    inputElement.value = 1;
                    return;
                }

                updateCartQuantity(article, newQuantity, inputElement);
            }
        });
    });
    function updateCartQuantity(article, newQuantity, inputElement) {
        fetch("{% url 'carts:change' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: new URLSearchParams({
                'article': article,
                'quantity': newQuantity,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    inputElement.value = 1;
                    alert("Товара недостаточно на складе")
                }
            })
            .catch(error => {
                console.error("Ошибка при добавлении/удалении из корзины:", error)
            });
    }

    // Обновить счётчик позиций на иконке корзины
    function updateCartIcon(count) {

        const cartIcon = document.querySelector('.navbar__cart-icon-positions-counter-div');
        const cartCounterLabel = document.querySelector('.navbar__cart-icon-positions-counter-label');
        if (count > 0) {
            cartIcon.style.display = 'flex';
            cartCounterLabel.textContent = count;
        } else {
            cartIcon.style.display = 'none';
            cartCounterLabel.textContent = '0';
        }
    }

    // Показать больше категорий
    document.getElementById('showMoreCategoriesButton').addEventListener('click', function (event) {
        event.preventDefault();
        const hiddenCategories = document.getElementById('hiddenCategories');

        if (hiddenCategories.style.display === 'none') {
            hiddenCategories.style.display = 'block';
            this.textContent = 'Скрыть';
        } else {
            hiddenCategories.style.display = 'none';
            this.textContent = 'Посмотреть все';
        }
    });

    // Показать больше брендов
    document.getElementById('showMoreBrandsButton').addEventListener('click', function (event) {
        event.preventDefault();
        const hiddenBrands = document.getElementById('hiddenBrands');

        if (hiddenBrands.style.display === 'none') {
            hiddenBrands.style.display = 'block';
            this.textContent = 'Скрыть';
        } else {
            hiddenBrands.style.display = 'none';
            this.textContent = 'Посмотреть все';
        }
    });

    // Очистить все фильтры 
    document.getElementById('resetFiltersButton').addEventListener('click', function (event) {
        window.location.href = window.location.pathname;

    });

    // Выбрать раздел каталога
    if (isMobile()) {

    } else {
        topicsButtons = document.querySelectorAll('.catalog__topic');
        topicsButtons.forEach(topicButton => {
            topicButton.querySelector('p').addEventListener('click', function (event) {
                selectTopic(topicButton);
            });
        })
    }
    function selectTopic(topicButton) {
        const items = document.querySelectorAll('.catalog__topic');

        items.forEach(item => {
            item.classList.remove('active');
        });

        topicButton.classList.add('active');
    }

    function renderCurrViewMode() {
        if (isMobile()) {
            console.log('неа')
            return;
        }
        console.log('всё-таки выполнилось')
        let viewModeButton = document.getElementById('viewModeButton'); 
        let viewModeImage = viewModeButton.querySelector('img');

        console.log(viewModeButton.dataset.status)

        let cards = document.querySelectorAll('.catalog__card');
        let catalog = document.getElementById('catalogCards');

        if (viewModeButton.dataset.status == 'full') {
            cards.forEach(card => {
                card.style.width = 'calc((100% - 24px * 3) / 4)'; 
            });
        } else {
            cards.forEach(card => {
                card.style.width = 'calc((100% - 24px * 2) / 3)'; 
            });
        }
    }

    function updateViewMode() {
        if (isMobile()) {
            console.log('неа');
            return;
        }
        console.log('всё-таки выполнилось')
        let viewModeButton = document.getElementById('viewModeButton'); 
        let viewModeImage = viewModeButton.querySelector('img');

        viewModeButton.addEventListener('click', (button) => {
            let cards = document.querySelectorAll('.catalog__card');
            let catalog = document.getElementById('catalogCards');

            console.log(viewModeButton.dataset.status)

            if (viewModeButton.dataset.status == 'quick') {
                cards.forEach(card => {
                    card.style.width = 'calc((100% - 24px * 3) / 4)'; 
                });
                viewModeButton.dataset.status = 'full';
                viewModeImage.src = viewModeButton.dataset.fullModeUrl;
            } else {
                cards.forEach(card => {
                    card.style.width = 'calc((100% - 24px * 2) / 3)'; 
                });
                viewModeButton.dataset.status = 'quick';
                viewModeImage.src = viewModeButton.dataset.quickModeUrl;
            }
        })
    }

    document.addEventListener('DOMContentLoaded', function () {
        if (!isMobile()) {
            updateViewMode();
        }
    });

    function isMobile() {
        console.log('зашли')
        if (window.innerWidth < 600) {
            return true;
        }
        return false;
    }
</script>

<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        const openMobileFitlersButton = document.querySelector('.open-mobile-filters');
        const closeMobileFiltersButton = document.querySelector('.back-button');
        const mobileFilters = document.querySelector('.mobile-filters') ;
        openMobileFitlersButton.addEventListener('click', (button) => {
            mobileFilters.classList.add('active');
        });
        closeMobileFiltersButton.addEventListener('click', (button) => {
            mobileFilters.classList.remove('active');
        });
    });
</script>

{% endblock %}